.ticket-btn{
    background-color: red;
}


.title2{
    text-align: center;
}
.section-img{
    opacity: 50%;
}
a{
    text-decoration: none;
}
.row{
    gap:50px;
}
.products{
    text-align: center;
    margin-top: 100px;
}
.product-container1{
    justify-content: space-around;
}
.product-container2{
    justify-content: space-around;
}
.our_equipment{
    text-align: center;
    margin-top: 100px;
}
.git{
    text-align: center;
    margin-top: 100px;
}
.icons{
    
    gap:20px;
    margin-left:42%;
}
.facebook{
    height: 40px;
    width: 40px;
}
.twitter{
    height:40px;
    width: 40px;
}
.instagram{
    height:40px;
    width:40px;
}
.social{
    text-align: center;
    margin-top: 50px;
}
.line{
    width:100%;
    border-bottom: 1px solid aqua;
}